@use 'variables.scss' as *;

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
}

body {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.expanded {
    display: unset !important;
}
